body {
    background-color: rgb(255, 255, 255);
  }
  h1 {
    color: rgb(29, 29, 122);
  }
  p {
    color: rgb(81, 158, 56);
  }
  header{
    background-color: rgb(79, 11, 168);
  }
h2{
    background-color: rgb(218, 251, 217);
    font-size: 45px;

}

footer{
    background-color: rgb(255, 255, 255);
    background: fixed;
}

header{
    background: blue;
    width: fit-content;

}
img{
    size: 300px;
}
card-body{
    text-align: center;
}